[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=/home/fk/bin/start_dolphin_as_user.sh www /home/www/Downloads
GenericName[de_DE]=
GenericName=
Icon=stock_folder
MimeType=
Name[de_DE]=dolphin_www
Name=dolphin_www
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
