#!/usr/bin/env xdg-open
[Desktop Entry]
Name=firefox_www
Exec=$HOME/bin/start_firefox_as_user.sh www
Comment=
Icon=firefox
Type=Application
Terminal=false
StartupNotify=false

